server/node_modules
client/node_modules
.env
node_modules
node_modules/
**/node_modules/
client/dist/
client/build/
server/.env
.DS_Store

**/node_modules/
.env
**/client/dist/
**/client/build/
.DS_Store
*.pptx